POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_DB=diyarak
POSTGRES_USER=diyarak
POSTGRES_PASSWORD=change-me-local-only
REDIS_IMAGE=redis:7-alpine
OPENSEARCH_IMAGE=opensearchproject/opensearch:2
OPENSEARCH_DASHBOARDS_IMAGE=opensearchproject/opensearch-dashboards:2
MINIO_IMAGE=quay.io/minio/minio:latest
MINIO_ROOT_USER=diyarak
MINIO_ROOT_PASSWORD=change-me-local-only
MAILPIT_IMAGE=axllent/mailpit:latest
